:root {
  --primary: #fe2c55;
  --primary-text: white;
  --primary-hover: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.06),
      rgba(0, 0, 0, 0.06)
    ),
    var(--primary);
  --bg-me-message: #0084ff;
  --me-message-color: white;
  --button-hover-color: #999999;
  --disable-color: #bcc0c4;
  --enable-color: #0084ff;
}

:root[data-theme="light"] {
  --text-color: black;
  --text-bg: white;
  --bg: #f0f2f5;
  --element-color: white;
  --edit-panel-color: #fff4f4;
  --bg-input-color: white;
  --bg-chat-box: white;
  --chat-box-friend-name-text-color: #050505;
  --chat-box-text-color: #65676b;
  --bg-friend-message: #e4e6eb;
  --friend-message-text-color: #050505;
  --bg-button: #e4e6eb;
}

:root[data-theme="dark"] {
  --text-color: #e7e7e7;
  --text-bg: #2f2f2f;
  --bg: #121212;
  --element-color: #252525;
  --edit-panel-color: #252525;
  --bg-input-color: #2f2f2f;
  --bg-chat-box: #242526;
  --chat-box-friend-name-text-color: #e4e6eb;
  --chat-box-text-color: #b0b3b8;
  --bg-friend-message: #3e4042;
  --friend-message-text-color: #e4e6eb;
  --bg-button: #3a3b3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-size: 16px;
}

input {
  border: solid 0px;
  outline: none;

  &[type="checkbox"] {
    accent-color: var(--primary);
    width: 16px;
    height: 16px;
  }

  &[type="radio"] {
    accent-color: var(--primary);
    width: 16px;
    height: 16px;
  }
}
